# Python
*.pyc
*.pyo
__pycache__/
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.env  # Archivos de configuración de entorno

# Django
/backend/moviedle/db.sqlite3
/media/  # Archivos subidos por usuarios (si aplicable)
staticfiles/  # Archivos recolectados con collectstatic

# Entornos virtuales
env/
venv/
ENV/
.env
.venv/
.idea/
.vscode/

# Archivos de logs
*.log

# Sistema operativo
.DS_Store  # macOS
Thumbs.db  # Windows

# Git
*.orig  # Archivos de resolución de conflictos

# Archivo JSON con las películas
current_movies.json
next_movies.json

